.artist-profile-container {
 display: flex;
 flex-direction: column;
}

.artist-profile {
 min-height: 80vh;
 background-color: rgb(248, 244, 238);
 padding-top: 8rem;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: row;
}

.artist-profile-image {
 flex: 2;
 display: flex;
 justify-content: center;
 align-items: center;
 max-width: 600px;
}

.artist-profile-image img {
 height: 400px;
 width: 320px;
 object-fit: cover;
}

.artist-profile-description {
 flex: 3;
 color: black;
 margin-top: 0;
}

.artist-profile-description h1 {
 margin-bottom: 1rem;
}

.artist-profile-description p {
 max-width: 500px;
 text-align: left;
  /* Ensure the text aligns to the left */
  margin: 0;
  /* Reset any default margins */
}
.artist-gallery {
  min-height: 52vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Align to the left */
  padding-top: 2rem;
  width: 100%;
  max-width: 1000px; /* Match the max-width of .artist-profile-image */
  margin: 0 auto; /* Center aligns the content when space permits */
  padding-left: 20px; /* Optional, tweak to add a slight offset from the edge */
}



.artist-gallery-divider {
      width: 28%;
      /* Width of the line */
      height: 3px;
      /* Thickness of the line */
      background-color: rgb(20, 129, 127);
      /* Color of the line */
      margin: 20px 0;
}



@media (max-width: 980px) {
 .artist-profile {
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  padding-bottom: 2rem;
  /* Center the whole profile content */
 }

 .artist-profile-image {
  width: 100%;
  /* Ensure the image takes the full width */
  max-width: 90%;
  /* Match the image width you want */
 }

 .artist-profile-image img {
  height: auto;
  width: 100%;
  /* Ensure the image scales responsively */
  object-fit: cover;
 }

 .artist-profile-description {
  width: 100%;
  /* Match the description width to the image */
  max-width: 90%;
  /* Same max-width as the image */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 0;
  /* Remove left padding */
  padding-top: 1rem;
  /* Add some top padding to separate from image */
 }

 .artist-profile-description h1,
 .artist-profile-description p {
  text-align: left;
  width: 100%;
  /* Ensure the h1 and p are full-width */
  margin: 0;
 }
}

